@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Material+Icons&display=swap");
/******************************************************************************/
* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  font-family: "Lexend Deca", sans-serif; }

.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  .page-content {
    flex: 1; }

a {
  text-decoration: none;
  color: inherit; }

h1 {
  margin: 0;
  color: #4c4e4d;
  margin-bottom: 0.3em;
  font-size: 2.5em; }

h2, h3, h4 {
  margin: 0; }

::selection {
  background-color: #ffdbdb; }

/******************************************************************************/
.container {
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1em; }

/******************************************************************************/
.nav-bar-container {
  background-color: #fbc531;
  color: #FFFFFF; }

.nav-bar-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1em; }
  .nav-bar-content:not(:first-child) {
    padding-bottom: 1em; }

.nav-bar-button {
  transition: color 0.15s; }
  .nav-bar-button:not(:last-child) {
    margin-right: 1em; }
  .nav-bar-button:hover {
    cursor: pointer;
    color: #487eb0; }

.site-brand-lg {
  font-size: 2em;
  font-weight: bold; }

.footer {
  color: #666666;
  border-top: 5px solid #fbc531;
  font-size: 0.8em;
  background-color: #f1f2f6;
  width: 100%;
  padding: 3em 0 6em 0; }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .footer-column {
    min-height: 100px;
    max-width: 200px; }
  .footer-description {
    margin-top: 0.8em;
    color: #404040; }
  .footer-site-links {
    padding: 0;
    list-style: none; }
    .footer-site-links li:not(:last-child) {
      margin-bottom: 0.1em; }

/******************************************************************************/
.fp-container {
  padding: 2em 0; }

.fp-section {
  margin-bottom: 2em; }
  .fp-section-header {
    font-size: 1.3em;
    display: inline-block;
    color: #666666;
    padding-bottom: 0.6em;
    margin: 0 0 1em 0;
    border-bottom: 3px solid #fbc531; }

.fp-posts-and-tags {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 2fr 1fr; }
  @media (max-width: 768px) {
    .fp-posts-and-tags {
      grid-template-columns: none; } }

.fp-highlights {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #fbc531; }
  @media (max-width: 768px) {
    .fp-highlights {
      grid-template-columns: 1fr; } }

.fp-recent-articles {
  display: grid;
  grid-gap: 1.5em; }

.fp-recent-article:not(:last-child) {
  padding-bottom: 1.5em;
  border-bottom: 1px solid #fbc531; }

.fp-subscribe {
  border: 2px solid #fbc531; }
  @media (max-width: 576px) {
    .fp-subscribe {
      margin-top: 1em; } }
  .fp-subscribe-header {
    text-align: center;
    color: #4c4e4d;
    padding: 1em;
    background-color: #fde8ae; }
  .fp-subscribe-form {
    padding: 1em; }
    .fp-subscribe-form-label {
      display: block;
      color: #666666;
      font-size: 0.8em;
      margin-bottom: 0.4em; }
    .fp-subscribe-form-email {
      border: 1px solid #fbc531;
      display: block;
      width: 100%;
      padding: 1em;
      margin-bottom: 1em; }
    .fp-subscribe-form-msg {
      color: #98a3ad;
      font-size: 0.7em; }
    .fp-subscribe-form-btn {
      width: 100%;
      background-color: #4c4e4d;
      border: 0;
      color: #FFFFFF;
      cursor: pointer;
      display: block;
      font-size: .75em;
      letter-spacing: .09em;
      padding: 1em;
      text-transform: uppercase;
      transition: opacity 0.15s; }
      .fp-subscribe-form-btn:hover {
        opacity: 0.8; }

.placeholder {
  background-color: #dcdde1;
  min-width: 100px;
  min-height: 200px; }
  .placeholder-sml {
    background-color: #dcdde1;
    min-height: 100px; }

/******************************************************************************/
.page-container {
  padding: 3em 0;
  max-width: 768px;
  margin: 0 auto; }

.article-list-header {
  display: inline-block;
  margin-bottom: 1em;
  padding-bottom: 0.3em;
  border-bottom: 5px solid #fbc531; }

.article-list-container {
  padding: 3em 0; }

.article-list-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.5em; }
  @media (max-width: 576px) {
    .article-list-items {
      grid-template-columns: 1fr; } }

@media (max-width: 576px) {
  .article-list-item:not(:last-child) {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #fbc531; } }

.article-summary {
  display: grid;
  transition: opacity 0.15s; }
  @media (max-width: 576px) {
    .article-summary {
      grid-template-columns: 0.3fr 0.7fr;
      flex-direction: row; } }
  .article-summary:hover .article-summary-details {
    opacity: 0.85; }
  .article-summary-img {
    height: 250px;
    overflow: hidden; }
    .article-summary-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    @media (max-width: 576px) {
      .article-summary-img {
        height: 100%;
        width: auto; } }
  .article-summary-details {
    padding: 1em 1em 0 1em;
    color: #666666; }
    .article-summary-details-title {
      margin-bottom: 0.2em; }
    .article-summary-details-summary {
      margin: 0.7em 0 0.5em 0; }

.article-container {
  padding: 3em 0;
  max-width: 768px;
  margin: 0 auto; }

.article-content-container {
  display: grid;
  grid-gap: 1.5em;
  grid-template-columns: 0.75fr 0.25fr; }
  @media (max-width: 768px) {
    .article-content-container {
      grid-template-columns: 1fr; } }

.article-content {
  line-height: 1.7;
  color: #4c4e4d; }

.article-info-title {
  color: #4c4e4d;
  margin-bottom: 0.3em;
  font-size: 2.5em; }

.article-info-subtitle {
  color: #666666;
  margin: 0 0 0.9em 0;
  font-size: 1.25em; }

.article-info-meta {
  margin: 0;
  font-size: 0.9em;
  color: #666666;
  display: flex;
  align-items: center; }
  .article-info-meta i {
    margin-right: 0.3em;
    font-size: 1.3em; }
  .article-info-meta-author {
    margin-right: 1em; }

.article-img {
  margin: 0; }
  .article-img img {
    width: 100%;
    height: auto; }
  .article-img-caption {
    margin-top: 0.4em;
    font-size: 0.8em;
    color: #666666; }
  .article-img-source {
    font-style: normal;
    color: #98a3ad; }
    .article-img-source::before {
      display: inline-block;
      padding: 0 5px 0 3px;
      content: "|"; }

.article-divider {
  border: 0;
  border-bottom: 3px solid #fbc531;
  margin: 2em 0;
  padding: 0;
  clear: both; }

.related-articles {
  display: flex;
  margin-bottom: 5em;
  flex-direction: row;
  justify-content: center; }
  @media (max-width: 768px) {
    .related-articles {
      flex-direction: column; } }

.related-article {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #666666;
  flex-grow: 1;
  height: 250px;
  background-color: #dcdde1; }
  .related-article:nth-child(even) {
    background-color: #f1f2f6; }
  .related-article-info {
    text-align: center;
    max-width: 300px; }
    .related-article-info-title {
      font-size: 1.5em; }
    .related-article-info-subtitle {
      color: #4c4e4d; }

.article-card {
  height: 320px;
  display: flex;
  flex-direction: column; }
  .article-card-img {
    width: 100%;
    overflow: hidden;
    height: 60%; }
    .article-card-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .article-card-info {
    flex-grow: 0.4; }
    .article-card-info-title {
      margin-top: 0.7em;
      color: #4c4e4d;
      font-weight: bolder;
      font-size: 1.3em; }
    .article-card-info-subtitle {
      color: #666666;
      font-size: 0.9em;
      margin: 0.5em 0; }
    .article-card-info-author {
      color: #666666;
      font-size: 0.85em; }

.article-listing {
  display: flex;
  flex-direction: row;
  height: 115px; }
  .article-listing-img {
    width: 35%;
    overflow: hidden; }
    .article-listing-img img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .article-listing-info {
    padding: 1em; }
    .article-listing-info-title {
      color: #4c4e4d; }
    .article-listing-info-meta {
      margin-top: 0.3em;
      font-size: 0.9em;
      color: #666666; }
      .article-listing-info-meta-date::before {
        display: inline-block;
        padding: 0 5px 0 3px;
        content: "|"; }

/******************************************************************************/
.social-buttons {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin: 1.2em 0; }

.social-button:not(:last-child) {
  margin-right: 0.7em; }

.social-button a {
  align-items: center;
  display: flex;
  padding: 8px;
  transition: opacity 0.15s; }
  .social-button a:first-child {
    padding-left: 0; }
  .social-button a:hover {
    opacity: 0.8; }

.social-button-twitter {
  height: 21px;
  width: 21px;
  fill: #00aced; }

.social-button-facebook {
  height: 21px;
  width: 21px;
  fill: #325a97; }
